<ion-header>
  <ion-toolbar>
    <span>{{ titlePage }}</span>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="listOfBuyersNames?.length">
    <ng-template ngFor let-name [ngForOf]="listOfBuyersNames">
      <ion-item>
        <span style="width: 100%;" (click)="selectWhoIsBuying(name)">{{ name }}</span>
      </ion-item>
    </ng-template>
  </ion-list>

  <span *ngIf="!listOfBuyersNames?.length" class="empty-list">Lista vazia</span>
</ion-content>

<ion-footer>
  <div class="btn-footer" *ngIf="!isFilter">
    <ion-button fill="outline" (click)="whoIsBuyingIsMe()">Eu</ion-button>
    <ion-button fill="outline" (click)="whoIsBuyingIsAnother()">Outra pessoa</ion-button>
  </div>
  <div class="btn-footer" *ngIf="isFilter">
    <ion-button fill="outline" (click)="dismiss()">Cancelar</ion-button>
  </div>
</ion-footer>
