<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">FECHAR</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <section class="title">
    <span *ngIf="isRegister">CRIAR UMA CONTA</span>
    <span *ngIf="!isRegister">ENTRAR NA SUA CONTA</span>
  </section>

  <div class="form">
    <ion-item *ngIf="isRegister">
      <ion-label position="floating">Nome</ion-label>
      <ion-input
        [(ngModel)]="payloadLoginRegister.name"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="payloadLoginRegister.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input
        type="password"
        [(ngModel)]="payloadLoginRegister.password"
      ></ion-input>
    </ion-item>
  </div>

  <ion-button
    *ngIf="isRegister"
    expand="full"
    fill="solid"
    shape="round"
    class="button"
    style="margin: 30px"
    [disabled]="!isButtonValid"
    (click)="register()"
    >Cadastrar</ion-button
  >
  <ion-button
    *ngIf="!isRegister"
    expand="full"
    fill="outline"
    shape="round"
    class="button"
    style="margin: 30px"
    [disabled]="!isButtonValid"
    (click)="login()"
    >Entrar</ion-button
  >
</ion-content>
