<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">FECHAR</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="title">
    <span *ngIf="isRegister">CRIAR UMA CONTA</span>
    <span *ngIf="!isRegister">ENTRAR NA SUA CONTA</span>
  </section>

  <div class="form">
    <ion-item *ngIf="isRegister">
      <ion-label position="floating">Nome</ion-label>
      <ion-input
        [(ngModel)]="payloadLoginRegister.name"
        (keyup.enter)="fecharTeclado($event)"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input
        (keyup.enter)="fecharTeclado($event)"
        [(ngModel)]="payloadLoginRegister.email"
      ></ion-input>
    </ion-item>
    <ion-item style="align-items: center">
      <ion-label position="floating">Senha</ion-label>
      <ion-input
        (keyup.enter)="fecharTeclado($event)"
        [type]="visibilityPassword ? 'text' : 'password'"
        [(ngModel)]="payloadLoginRegister.password"
      >
      </ion-input>
      <ion-icon
        *ngIf="visibilityPassword"
        (click)="toggleVisibilityPassword()"
        slot="end"
        name="eye"
      ></ion-icon>
      <ion-icon
        *ngIf="!visibilityPassword"
        (click)="toggleVisibilityPassword()"
        slot="end"
        name="eye-off"
      ></ion-icon>
    </ion-item>
  </div>

  <ion-button
    *ngIf="isRegister"
    expand="full"
    fill="solid"
    shape="round"
    class="button"
    style="margin: 30px"
    [disabled]="!isButtonValid"
    (click)="register()"
    >Cadastrar</ion-button
  >
  <ion-button
    *ngIf="!isRegister"
    expand="full"
    fill="outline"
    shape="round"
    class="button"
    style="margin: 30px"
    [disabled]="!isButtonValid"
    (click)="login()"
    >Entrar</ion-button
  >
</ion-content>
