<ion-header>
  <ion-toolbar>
    <ion-title>Agenda de Novembro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-template ngFor let-compra [ngForOf]="compras" let-i="index">
    <app-agenda-card
      [purchaseTitle]="compra.title"
      [purchaseValue]="compra.value"
      [isPurchasePaid]="compra.isPaid"
      [isLatePurchasePayment]="compra.isLate"
      [purchaseInstallments]="compra.installments"
    ></app-agenda-card>
  </ng-template>

   <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="light" (click)="addNewPurchase()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
