<ion-header>
  <ion-toolbar>
    <ion-title>Agenda de {{ monthTranslatedNames[selectedMonth] }}</ion-title>
    <div class="debtsOfMonth">
       <span
         >Despesas: {{ amountOfCurrentMonthsInstallments.totalAlreadyPaid.toFixed(2)
         }}/{{ amountOfCurrentMonthsInstallments.totalToPay.toFixed(2) }}</span
       >
       <ion-icon name="cash"></ion-icon>
     </div>
    <ion-buttons>
      <ion-button
        shape="round"
        (click)="loadPreviousInvoices()"
        slot="start"
        *ngIf="isAnInvoiceForThePreviousMonth"
      >
        <ion-icon name="chevron-back-outline"></ion-icon>
        Anterior
      </ion-button>
      <ion-button
        shape="round"
        [ngClass]="!isAnInvoiceForThePreviousMonth && 'endForSure'"
        (click)="loadNextInvoinces()"
        slot="end"
        *ngIf="isAnInvoiceForTheNextMonth"
      >
        Próximo
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item-sliding
      color="danger"
      *ngFor="let purchase of listPurchasesByMonth[selectedMonth]"
    >
      <app-agenda-card
        [purchaseTitle]="purchase.title"
        [purchaseValue]="purchase.installmentAmount"
        [buyer]="purchase.buyer"
        [isPurchasePaid]="purchase.isPaid"
        [isLatePurchasePayment]="purchase.isLate"
        [purchaseInstallments]="purchase.installments"
        (paid)="purchasePaid($event, purchase)"
      ></app-agenda-card>
      <ion-item-options side="end">
        <ion-button
          slot="end"
          shape="round"
          fill="outline"
          color="warning"
          (click)="editPurchase(purchase)"
          >Editar</ion-button
        >
        <ion-button
          slot="end"
          shape="round"
          fill="outline"
          color="danger"
          (click)="alertAboutRemovePurchase(purchase)"
          >Remover</ion-button
        >
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="light" (click)="addNewPurchase()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
