<ion-header>
  <ion-toolbar>
    <ion-title>Agenda de Novembro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item-sliding color="danger" *ngFor="let purchase of purchases">
      <app-agenda-card
        [purchaseTitle]="purchase.title"
        [purchaseValue]="purchase.value"
        [buyer]="purchase.buyer"
        [isPurchasePaid]="purchase.isPaid"
        [isLatePurchasePayment]="purchase.isLate"
        [purchaseInstallments]="purchase.installments"
      ></app-agenda-card>
      <ion-item-options side="end">
        <ion-button
          slot="end"
          shape="round"
          fill="outline"
          color="warning"

          >Editar</ion-button
        >
        <ion-button
          slot="end"
          shape="round"
          fill="outline"
          color="danger"
          >Remover</ion-button
        >
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="light" (click)="addNewPurchase()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
