
ion-header {
  ion-toolbar {
    padding: 10px;

    ion-buttons {
      justify-content:
      space-between;
      margin-top: 10px;

      .endForSure {
        margin-left: 68%;
        right: 0;
      }
    }
  }
}

.debtsOfMonth {
  display: flex;
  margin: 17px 0 0 23px;

  span {
    // margin-left: 23px;
    font-size: 19px;
    margin-right: 20px;
  }

  ion-icon {
    font-size: 26px;
    position: absolute;
    right: 0;
  }
}

ion-list {
  background-color: transparent;

  ion-item-options {
    align-items: center;
    flex-direction: column;
    margin-right: -100px;
    width: 37.5%;

    ion-button {
      width: 100px;
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }
}
