<ion-content>
  <section class="title">
    <span>GESTOR FINANÇAS</span>
  </section>

  <div class="container-buttons">
    <ion-button
      fill="outline"
      shape="round"
      class="button"
      (click)="isRegister = false; openModalLoginRegister(isRegister)"
      expand="full"
      >Entrar</ion-button
    >
    <ion-button
      fill="solid"
      shape="round"
      class="button"
      (click)="isRegister = true; openModalLoginRegister(isRegister)"
      expand="full"
      >Cadastrar</ion-button
    >
  </div>
</ion-content>
