<ion-item>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="subtitle"
        >{{ purchaseTitle }} - <b>{{ buyer }}</b></ion-card-subtitle
      >
    </ion-card-header>
    <ion-card-content>
      <div class="content">
        <ion-card-title
          >R$ {{ mascaraMoedaReal(purchaseValueFormatted) }}
          <b>{{ purchaseInstallments }}x</b></ion-card-title
        >
        <ion-chip color="success" *ngIf="isPurchasePaid">
          <ion-label>Pago</ion-label>
        </ion-chip>
        <ion-chip
          color="warning"
          *ngIf="!isPurchasePaid && !isLatePurchasePayment"
          (click)="pay()"
        >
          <ion-label>A Pagar</ion-label>
        </ion-chip>
        <ion-chip
          color="danger"
          *ngIf="!isPurchasePaid && isLatePurchasePayment"
          (click)="pay()"
        >
          <ion-label>Atrasado</ion-label>
        </ion-chip>
      </div>
      <span *ngIf="dueDate" class="due-date">Vence dia: {{ dueDateFormatted }}</span>
    </ion-card-content>
  </ion-card>
</ion-item>
