<ion-card>
  <ion-card-content class="content">
    <div>
      <ion-card-subtitle>{{ purchaseTitle }}</ion-card-subtitle>
      <ion-card-title>R$ {{ mascaraMoedaReal(purchaseValueFormatted) }} <b>{{ purchaseInstallments }}x</b></ion-card-title>
    </div>
    <ion-chip color="success" *ngIf="isPurchasePaid">
      <ion-label>Pago</ion-label>
    </ion-chip>
    <ion-chip color="secondary" *ngIf="!isPurchasePaid && !isLatePurchasePayment">
      <ion-label>A Pagar</ion-label>
    </ion-chip>
    <ion-chip color="danger" *ngIf="!isPurchasePaid && isLatePurchasePayment">
      <ion-label>Atrasado</ion-label>
    </ion-chip>
  </ion-card-content>
</ion-card>
